<?xml version="1.0"?>

<robot name="z1_description" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:include filename="$(find z1_description)/urdfs/z1_arm.xacro"/>

<xacro:arg name="task_period" default="0.001" />

<link name="world"/>
<xacro:z1_arm parent="world">
	<origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:z1_arm>
</robot>
