<?xml version="1.0" ?>
<launch>
        <arg name="task_period" default="0.001"/>
        <!-- send hyq urdf to param server -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find z1_description)/robots/z1.urdf.xacro'  task_period:=$(arg task_period)"/>


        <!-- send hyq semantic description srdf to param server -->
        <param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(find z1_description)/robots/z1.srdf.xacro' " />


</launch>

